/santa_maria_web/nbproject/private/
/veterinaria_core/nbproject/private/
/veterinaria_model/nbproject/private/
/veterinaria_core/build/
/veterinaria_model/build/
/veterinaria_core/dist/
/veterinaria_model/dist/
